.messages-app {
  .message-list {
    border: 1px solid #ddd;
    border-radius: 4px;

    width: 60%;
    height: 400px;
    float: left;

    .message {
      border-bottom: 1px solid #ddd;

      &:last-child span {
        border-bottom: 0;
      }

      h4 {
        margin: 1px;
      }

      p {
        margin: 1px;
      }
    }

    button {
      margin: 10px 0;
    }
  }

  .composition-area {

  }

  .contact-list {
    > ul {
      list-style: none;
    }

    .contact {

    }
  }

  .diagnostics {
    clear: both;
    font-size: .8em;
    float: left;
    margin: 0;
    padding: 0;
  }
}
