.messages-app {
  box-sizing:border-box;

  .message-display {
    @message-list-height: 400px;
    @composition-area-height: 40px;

    height: @message-list-height + @composition-area-height;
    width: 60%;
    float: left;

    .message-list {
      //currently overriden by inline styles in react-infinite
      //height: @message-list-height;
      border: 1px solid #ddd;
      border-radius: 4px;

      .message {
        border-bottom: 1px solid #ddd;

        &:last-child span {
          border-bottom: 0;
        }

        h4 {
          margin: 1px;
        }

        p {
          margin: 1px;
        }
      }

      button {
        margin: 10px 0;
      }
    }

    .composition-area {
      @ca-padding: 2px;

      height: @composition-area-height;
      padding: @ca-padding;

      textarea {
        @ca-border-width: 1px;

        width: 80%;
        border-width: @ca-border-width;
        height: @composition-area-height - (2 * @ca-padding) - (2 * @ca-border-width);
      }
    }
  }

  .contact-list {
    > ul {
      list-style: none;
    }

    .contact {

    }
  }

  .diagnostics {
    clear: both;
    font-size: .8em;
    float: left;
    margin: 5px 0 0 0;
    padding: 0;
  }
}
